a:link,
a:visited {
    color: blue;
}

p {
    margin: 0;
}

.textbox {
    position: absolute;
    left: 10%;
    right: 12%;
    bottom: 2vh;
    min-height: 10vh;
    max-height: 90vh;
    background: white;
    border-radius: 3px;
    outline-style: solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    word-spacing: 0.2rem;
    filter: drop-shadow(0 0 0.75rem rgb(112, 112, 112));
}

.ui-text {
    margin: 0;
    user-select: none;

}

.ui-btn {
    font-family: inherit;
    border-style: none;
    border-radius: 3px;
    padding: 1rem;
    font-size: inherit;
    user-select: none;
    cursor: pointer;
}

.btn-container {
    align-self: flex-end;
    margin-top: auto;
}

.mute {
    position: absolute;
    left: 3%;
    bottom: 3%;
    display: flex;
    gap: 1rem;
    align-items: center;
    user-select: none;

}

.note {
    display: flex;
    flex-direction: column;
    color: rgb(238, 238, 238);
    user-select: none;
    margin: auto;
}

.audio-btn-container {
    height: fit-content;
    font-family: inherit;
    border-style: none;
    border-radius: 3px;
    padding: .5rem;
    font-size: inherit;
    user-select: none;
    cursor: pointer;
    background-color: rgb(238, 238, 238);
}

.icon {
    width: 2rem;
    pointer-events: none;

}

.gameDataBox {
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    outline-style: solid;
    padding: 1rem 0 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    word-spacing: 0.2rem;
    filter: drop-shadow(0 0 0.75rem rgb(112, 112, 112));
}

.deepLocalData {
    right: 3%;
    top: 3%;
}

.noteAndLives {
    position: absolute;
    left: 3%;
    top: 3%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.coinData {
    position: absolute;
    display: flex;
    align-items: center;
    right: 3%;
    bottom: 3%;
    padding: 1rem;
    gap: .25rem;
    color: gold;
    user-select: none;
    pointer-events: none;

}

.deepLocalLogo {
    width: 4rem;
    user-select: none;
    pointer-events: none;

}

.heartLogo {
    width: 2rem;
    user-select: none;
    pointer-events: none;

}

.ui-image {
    border-radius: 3px;
    user-select: none;
}

.image-gallery-1,
.image-gallery-2,
.image-gallery-3 {
    width: 100%;
    display: flex;
    gap: .5em;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.image-gallery-1 img {
    width: auto;
    height: auto;
    border: 3px solid #555;
    border-radius: 10px;
    pointer-events: none;
    user-select: none;

}

.image-gallery-2 img {
    width: 45%;
    height: auto;
    border: 3px solid #555;
    border-radius: 10px;
    pointer-events: none;
    user-select: none;

}


.image-gallery-3 img {
    width: 30%;
    height: auto;
    border: 3px solid #555;
    border-radius: 10px;
    pointer-events: none;
    user-select: none;
}

.image-left-container {
    width: 100%;
    display: flex;
    gap: 1em;
}

.multiple-image-container {
    display: flex;
    flex-direction: column;
    gap: .2em;
}

.hashtags {
    color: #5f5f5f;
}